.image-wrapper {
  position: relative;
  width: 100%;
}

.base-image {
  width: 100%;
  height: auto;
  display: block;
}

/* OVERLAY – kluczowe */
.overlay-image {
  position: absolute;
  height: auto;
  opacity: 1;           /* ukryte */
  transition: opacity 0.3s ease-in-out; /* płynne pojawienie się */
  pointer-events: auto;
}
.overlay-image:hover {
  opacity: 1;
}
.blocker {
  position: absolute;
  inset: 0;
  z-index: 20;
  background: rgba(0,0,0,0.2);
  cursor: wait;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  opacity: 0;
}


.overlay-wrapper {
  position: absolute;
}


.image-loader {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #282c34;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.visible {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.base-image {
  width: 100%;
  display: block;
}
